body {
  margin: 0px;
  background-color: rgb(189, 189, 189);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 270px;
  margin-top: 0px;
  height: 300px;
}

.mainh {
  background-color: inherit;
  border: 2px black solid;
  border-radius: 5px;
  font-size: 40px;
  font-family: fantasy;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

#top {
  font-size: 20px;
}

.btn {
  margin-block: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

div > button {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-size: 4.4rem;
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(220, 220, 220);
}

button:active {
  background-color: rgb(190, 190, 190);
}
